<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TS3 Online Status</title>
  <link rel="stylesheet" href="static/main.css">
</head>
<body>
<section>
  <h1><span id="online">{{ .count }}</span> online</h1>
  <ul id="users">
    {{ range .users }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
</section>
<script src="static/main.js" defer></script>
</body>
</html>